/*******************************/
/* CODE VOOR HET EERSTE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  /* regular / 400 */
  font-family: "ExpletusSans";
  src: url(../fonts/ExpletusSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  /* bold / 700 */
  font-family: "ExpletusSans";
  src: url(../fonts/ExpletusSans-Bold.ttf);
  font-weight: 700;
}


li:first-of-type {
  padding:1em;
  overflow:auto;
}

li:first-of-type h2 {
  /* JOUW CODE HIER */
  font-family: "ExpletusSans", sans-serif;
  font-size: 2em;

}

li:first-of-type p {
  /* JOUW CODE HIER */
  font-family: "ExpletusSans", sans-serif;

}

/* hiermee selecteer je de eerste letter van de p in het eerste blokje */
li:first-of-type p::first-letter {
  /* JOUW CODE HIER */
  font-family: "ExpletusSans", sans-serif;
  font-size: 2em;
  font-weight: Bold;
}





/*******************************/
/* CODE VOOR HET TWEEDE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Thin.ttf);
  font-weight: 100;
  font-size: x-large;
  text-transform: uppercase;

}


/* hiermee selecteer je het tweede blokje */
li:nth-of-type(2) {
  /* custom properties voor tweede blokje */
  --color:hsl(0 0% 100%);
  --background:rgb(0 24 54);
  --shadow:Cyan;

  
  /* met onderstaande regels staat de tekst in het midden */
  /* en elk woord op een nieuwe regel */
  text-transform: uppercase;
  
  display:grid;
  grid-auto-columns:min-content;  
  place-content:center;
  text-align:center;
  
  background-color:var(--background);
}

li:nth-of-type(2) h2 {
  
  margin:0;
  color:var(--color);

  /* JOUW CODE HIER */
  font-family: "Montserrat";
  text-shadow:var(--shadow) 0 0 10px;
}





/******************************/
/* CODE VOOR HET DERDE BLOKJE */
/******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: "Saira";
  src: url(../fonts/Saira_Condensed-Bold.ttf);
  font-weight: 700;
}

li:nth-of-type(3) {
  /* custom properties voor derde blokje */
  --color:white;
  --background:rgb(230 127 138);
  --shadow:rgb(0 0 0 / .75);

  /* JOUW CODE HIER */
  background-color: var(--background);
  display: grid;
  font-size: x-large;
  line-height: 1.4em;
  grid-auto-columns:min-content;
  place-content: center;
}

li:nth-of-type(3) h2 {
  /* JOUW CODE HIER */
  font-family: "Saira";
  text-transform: uppercase;
  text-shadow:var(--shadow) 2px 2px 0;
  color:var(--color);
  text-align: center;
  transform: skewY(-15deg);
}